/* Universal */
@font-face { 
    font-family: "Adlery Pro Blockletter"; 
    src: url('../adlery-pro-blockletter-maisfontes.6cff/adlery-pro-blockletter.ttf'); 
} 

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    background-color: #edd4dd;
}

/* Nav */ 

nav {
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: grey solid 2px;
    padding: 0.313rem;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 99;
}

nav img {
    height: 100px;
    margin-left: 1.875rem;
}

nav ul {
    list-style: none;
    margin-right: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-family: "Adlery Pro Blockletter", sans-serif;
}

nav li {
    margin-right: 1.875rem;
    font-size: 1.875rem;
    color: #631c37;
}

@media only screen and (max-width: 480px) {
    nav li {
        font-size: 1rem;
    }
}

/* Banner */

.banner {
    background-image: url(../zoltan-tasi-vHnVtLK8rCc-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 110px;
}

.banner p {
    font-size: 1.875rem;
    color: whitesmoke;
    width: 18.75rem;
    margin: auto;    
}

@media only screen and (max-width: 480px) {
    .banner {
        width: 80%;
        height: 200px;
    }

    .banner p {
        font-size: 0.7rem;
        width: 130px;
    }
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #631c37;
}

#main {
    font-size: 1.5rem;
    background-color: transparent;
    margin: 1.875rem;
}

@media only screen and (max-width: 480px) {
    #main {
        font-size: 1rem;
    }
}

/* Shop */

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container{
    max-width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 1em;
    text-decoration: none;
    color: #631c37;
    font-size: 1.3rem;
}

.img-container:hover {
    background-color: rgba(255, 255, 255, 0.81);	
    position: relative;	
    box-shadow: -5px 5px 7px -3px rgba(74, 76, 75, 0.83);
}

.img-container img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    max-height: auto;
    align-items: flex-start;
}

.img-container p {
    margin: 10px;
}

/* Staff */

.content-header {
    font-size: 2.875rem;
    text-align: center;
    font-family: "Adlery Pro Blockletter", sans-serif;
}

#contact {
    margin: 1.875rem;    
}

.dotted-border {
    border-top: #631c37 2px dotted;
    padding-top: 10px;
}

/* Footer */
#footer p {
    margin:10px;
    color: #631c37;
}

