/* Universal */
@font-face { 
    font-family: "Adlery Pro Blockletter"; 
    src: url('../adlery-pro-blockletter-maisfontes.6cff/adlery-pro-blockletter.ttf'); 
} 

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    background-color: #edd4dd;
}

/* Nav */ 

nav {
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: grey solid 2px;
    padding: 0.313rem;
    display: flex;
    position: fixed;
    justify-content: space-between;
}

nav img {
    height: 100px;
    margin-left: 1.875rem;
}

nav ul {
    list-style: none;
    margin-right: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-family: "Adlery Pro Blockletter", sans-serif;
}

nav li {
    margin-right: 1.875rem;
    font-size: 1.875rem;
    color: #631c37;
}

@media only screen and (max-width: 480px) {
    nav li {
        font-size: 1rem;
    }
}

/* Banner */

.banner {
    background-image: url(../zoltan-tasi-vHnVtLK8rCc-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 62.5rem;
    height: 37.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 110px;
}

.banner p {
    font-size: 1.875rem;
    color: whitesmoke;
    width: 18.75rem;
    margin-right: -18.75rem;
    margin-bottom: -80px;
}

@media only screen and (max-width: 480px) {
    .banner {
        width: 80%;
        height: 200px;
 
    }

    .banner p {
        font-size: 0.7rem;
        margin-right: -100px;
        margin-bottom: 0;
        width: 130px;
    }
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #631c37;
}

#main {
    font-size: 1.5rem;
    background-color: transparent;
}

@media only screen and (max-width: 480px) {
    #main {
        font-size: 1rem;
    }
}

/* Shop */



/* Staff */

/* Footer */

