/* Universal */
@font-face { 
    font-family: "Adlery Pro Blockletter"; 
    src: url('../adlery-pro-blockletter-maisfontes.6cff/adlery-pro-blockletter.ttf'); 
} 

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

/* Nav */ 

nav {
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: grey solid 2px;
    padding: 0.313rem;
    display: flex;
    position: fixed;
    justify-content: space-between;
}

nav img {
    height: 100px;
    margin-left: 1.875rem;
}

nav ol {
    list-style: none;
    margin-right: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-family: "Adlery Pro Blockletter", sans-serif;
}

li {
    margin-right: 1.875rem;
    font-size: 1.875rem;
}

/* Banner */

.banner {
    background-image: url(../zoltan-tasi-vHnVtLK8rCc-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 62.5rem;
    height: 37.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-area: banner;
}

.banner p {
    font-size: 1.875rem;
    color: whitesmoke;
    width: 18.75rem;
    margin-right: -18.75rem;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". banner ."
        "main main main"
        "shop shop shop"
        "contact contact contact"
        "footer footer footer";
}

/* Footer */

footer {
    grid-area: footer;
}
